body {
  font-family: Arial;
  color: #4a566e;
  margin: 0;
}


.caixa1 {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background: url(./assets/bg.jpeg);
  background-size: cover;
}

.menu {
  text-align: right;
  padding-right: 40px;   
}

.caixa0 {
background: url(https://img.freepik.com/free-vector/minimal-desktop-background-white-abstract-design-vector_53876-135921.jpg?w=2000);
background-size: cover;
}

.caixa2 {
  background: #055a39;
  padding-bottom: 50px;
}


.caixa4 {
  height: 700px;
  background: #ffffff;
  text-align: center;
  
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


h1 {
  text-align: center;
  font-size: 48px;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.catioro {
  height: 150px;

}

.catioro2 {
  height: 150px;
  border-radius: 100px;
}

.jogos {
  height: 120px;
  border-radius: 100px;
}

.control {
  border-radius: 50%;
  height: 150px;
}

.control2 {
  border-radius: 50%;
  height: 160px;
}





.design {
  height: 150px;
  border-radius: 100px;
}

.caixa0 {

text-align: center;
}

.logo{
  height: 50px;
  padding-top: 30px;
  
}

.linkmenu {
  text-decoration: none;
  color: #4a566e;
  margin-left: 20px;
}

a:hover {
  color: #77e0d2;
}

.habilidade {
  background: white;
  width: 300px;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 50px;
  padding-left: 50px;
}

.habilidade2 {
  background: #618adb;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 50px;
  padding-left: 50px;
}


.titulohabilidades {
  color: white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.titulocontato {
  text-align: center;
  padding-bottom: 10px;
}

.titulocontato2 {
  text-align: center;
  padding-bottom: 10px;
}

.outroscontatos {
  padding-top: 10px;
}




/*888888888888888888888*/
.downloadlink {
  font: bold 20px Arial;
  text-decoration: none;
  background-color:#055a39;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.tituloLab {
  text-align: center;
  padding-bottom: 10px;
}

.control3 {
  max-width: 100%;
  max-height: 350px;
}
.control3 {
  max-width: 400px;
  height: auto;
  max-height: 300px;
  
}



.RELATORIO_1 {
  max-height: 900px;
  background: #ffffff;
  text-align: center;
}

.RELATORIO_2 {
  max-height: 900px;
  background: #ffffff;
  text-align: center;
}

.RELATORIO_3 {
  max-height: 700px;
  background: #ffffff;
  text-align: center;
}

.RELATORIO_4 {
  max-height: 1600px;
  background: #ffffff;
  text-align: center;
}

.RELATORIO_5 {
  max-height: 1200px;
  background: #ffffff;
  text-align: center;
}




.grid_1{
  max-height: 700px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 50% 50%;
  column-gap: 5px;
  row-gap: 5px;
}

.grid-item1  > img {
  
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;  
  height: auto;
  width: auto;
  border-radius: 15px;
}

.grid-item1  > video {
  object-fit: cover;
  max-width: 300px;
  max-height: auto;  
  height: auto;
  width: auto;
  border-radius: 15px;
}

.grid_2{
  max-height: 700px;
  max-width: max-content;
  margin-left: 0;
  margin-right: 0; 
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-auto-rows: 50% 50%;
  column-gap: 5px;
  row-gap: 5px;
}

.grid-item2  > img {
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;  
  height: auto;
  width: auto;
  border-radius: 15px;
}

.grid_3{
  max-height: 700px;
  margin-left: auto;
  margin-right: auto; 
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 50%;
}

.grid-item3  > video {
  object-fit: cover;
  max-width: 600px;
  max-height: auto;  
  height: auto;
  width: auto;
  border-radius: 15px;
}

.grid_4{
  max-height: 1600px;
  margin-left: auto;
  margin-right: auto; 
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1px;
  
}

.grid-item4{
  max-height: 500px; 
  height: auto;
  width: auto;
}

.grid-item4 > img{
  object-fit: cover;
  max-width: 700px;
  max-height: 500px;  
  height: auto;
  width: auto;
  border-radius: 10px;
}

.grid-4-binary{
  max-height: 500px; 
  height: auto;
  width: auto;
}

.grid-4-binary > img{
  object-fit: cover;
  max-width: 1600px;
  max-height: 500px;  
  height: auto;
  width: auto;
  border-radius: 10px;
}




.grid_5{
  max-height: 700px;
  margin-left: auto;
  margin-right: auto; 
  display: grid;
  grid-template-columns: 33% fit-content(33%) 33%;
  grid-auto-rows: 50%;
}

.grid_projeto{
 
  display: grid;
  grid-template-rows: 75% 25% ;
  
}